/*
All Color Variable
*/

$text-color: #11161e;
$dark-bg-color: #151a32;
$light-bg-color: #f1f1f1;
$bg-color: #f1f3f4;
$common-white: #ffffff;
$primary-color-1: #ff6f61;
$primary-color-2: #ff5645;
$paragraph-color: #444444;